@import 'utilities.css';
:root {
    --primary: #3DCFD3;
    --dark: #161616;
    --pure: #FFFFFF;
    --ternary: #898989;
    --light: #f2f2f2;
    --secondary: #070606;
    --animation-curve: cubic-bezier(1,0,0,1);

}
body {
    font-family: 'Poppins', sans-serif;
}
/* for scrolling effects in page */
html {
    scroll-behavior: smooth;
}
body, html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}



/* hamberger designs */
.site-main-wrapper .mobile-nav {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9));
    color: var(--primary);
    position: fixed;
    padding: 10rem;
}
.site-main-wrapper .mobile-nav ul li a {
    color: var(--primary);
    text-align: center;
    font-family: 'Lato',sans-serif;
    line-height: 2;
}
.site-main-wrapper .mobile-nav ul li a:hover {
    background-color: var(--dark);
    width: 100%;
}

/* hamberger menu */

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: all .5s ease-in-out;
    border: 3px solid var(--dark);
    margin-right: 1rem;
    margin-top: -3.9rem;
    border-radius: 30%;
    z-index: -10;
    position: fixed;
    top: 90px;
    right: 10px;
    /* transform: translateX(500px); */
}
.menu-btn-burger {
    width: 2rem;
    height: 0.3rem;
    background: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 0 2px 5p rgba(255,101,27,0.2);
    transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 0.3rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,27,0.2);
    transition: all 0.5s ease-in-out;
    
}
.menu-btn-burger::before {
    transform: translateY(-16px);
    background-color: var(--primary);
    margin-top: 0.4rem;

}
.menu-btn-burger::after {
    transform: translateY(16px);
    background-color: var(--primary);
    margin-top: -0.4rem;
}


/* animation */
.menu-btn.open .menu-btn-burger {
    transform: translateX(-45px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before {
    transform: rotate(41deg) translate(30px, -35px);
    background-color: red;
}
.menu-btn.open .menu-btn-burger::after {
    transform: rotate(-41deg) translate(30px, 35px);
    background-color: red;
}

/* starting section starts here */
.container {
    padding: 0 15px;
    margin: 0 auto; /* top-bottom || left right */
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1152px;
    }
}

/* styling of pages starts here */
header {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%,70% 87%, 0 100%); /* to give a triagular shape at bottom of first container*/
}
header .branding img{
    width: 150px;
    padding: 0;
    margin: 0%;
}
header #mobile-nav {
    padding-top : 0%;
}
header nav .left a{
    color: var(--pure); /* links color */
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.35s ease-in-out; /* hover animation - time - effect*/
}
header nav .left a:hover{
    color: var(--primary)
}
header nav {
    padding: 2rem 0; 
}
header nav .branding {
    margin-right: 3rem;
}
.hero {
    padding: 3rem 0;
}
.hero .left img {
    width: 400px;
}
.hero .right {
    color: var(--pure);
}
.hero .right h6 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}
/* .hero .right h6:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in;
} */
.hero .right h1 {
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2; /* to reduce the line gap*/
    margin-bottom: 2rem;
}
.hero .right h1 span {
    color: var(--primary);
}
.hero .right p {
    line-height: 1.9;
    margin-bottom: 2rem;
}
.hero .right {
    margin-top: -7rem;
}



/* about me section starts here */
section {
    padding: 6rem 0;
}
.about .about-me-img {
    height: 450px;
    border-radius: 1rem;
}
.about .about-me-img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}
.about h1 span {
    color: var(--primary);
}
.flex-1 h3 span{
    color: var(--primary);
}
.about h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}
.about p {
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9rem;
    margin-bottom: 2rem;
}
.about .social {
    display: flex;
}
.about .social a {
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 0.6rem;
}
.about .social a img {
    color: var(--pure);
    width: 100%;
    height: 100%;
    padding: 0.5rem;
}
.about .social a:hover {
    background: var(--primary);
    transition: all 0.35s ease-in-out;
    transform: scale(1.2);
    transition: 0.3s;
}
.section-heading {
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}
.section-heading + p{ /* for selecting elements after heading*/
    color: var(--ternary);
    font-family: 'Lato',sans-serif;
    margin-bottom: 8rem;
    text-align: center;
}
.section-heading span{
    color: var(--primary);
}





/* services section starts here */
section.services {
    background: var(--light);
}
section.services .card-wrapper {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /* for grid view */
    grid-column-gap: 2rem;
    grid-row-gap: 6rem;
}
section.services .card-wrapper .card {
    background: var(--pure);
    padding: 3rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
}
section.services .card-wrapper .card img {
    border-radius: 0.5rem;
}
section.services .card-wrapper .card:hover {
    background: linear-gradient(rgba(0,0,0,1),rgba(61,207,211,0.7));
    cursor: pointer;
    transform: scale(1.1);
}
section.services .card-wrapper .card:hover h2, section.services .card-wrapper .card:hover p {
    color: var(--pure);
}
section.services .card-wrapper .card img {
    position: absolute;
    top: -3.5rem;
    left: 50%;
    transform: translateX(-50%);
}
section.services .card-wrapper .card h2 {
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
section.services .card-wrapper .card p{
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
}




/* freelancer section starts here */
section.freelancer {
    text-align: center;
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%,67% 80%, 0 100%); /* to give a triagular shape at bottom of first container*/
    padding-bottom: 14rem;
    background: url(/images/camera-01.png);
}
section.freelancer h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
section.freelancer h1 span {
    color: var(--primary)
}
section.freelancer p{
    margin-bottom: 2rem;
    font-family: 'Lato',sans-serif;
    opacity: 80%;
}



/* my clients section starts here */
section.reviews .slider .slide img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; /* to maintain the ratio of photo */
    margin-bottom: 2rem;
}
section.reviews .slider .slide {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10rem;
}
section.reviews .slider .slide p {
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    margin-bottom: 1rem;
}
section.reviews .slider .slide span {
    font-size: 0.8rem;
}
section.reviews .slider-dots .dots {
    list-style-type: none;
    display: flex!important; /* forcing slick slider to work*/
    justify-content: center;
}
section.reviews .slider-dots {
    margin-top: 3rem;
}
section.reviews .slider-dots button { /*part 6*/
    font-size: 0;
    width: 8px;
    height: 5px;
    margin-right: 0.3rem;
    border: none;
    outline: none;
    background-color: var(--ternary);
    border-radius: 50px;
    cursor: pointer;
}    
section.reviews .dots li.slick-active button{
    background: var(--primary);
    transition: all 0.3s ease-in-out;
    width: 20px;
}





/* my work section here */
section.work {
    background: var(--light);
}
section.work .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
}
section.work .card-wrapper .card {
    position: relative;
    height: 250px;
}
section.work .card-wrapper .card:hover {
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}
section.work .card-wrapper .card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--light);
    border-radius: 1rem;
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7));
}
section.work .card-wrapper .card .overlay a {
    color: var(--primary);
    text-decoration: none;
}
section.work .card-wrapper .card img {
    height: 100%;
    widows: 100%;
    border-radius: 1rem;
    transition: 1s;
}
section.work .card-wrapper .card:hover .overlay {
    opacity: 1;
    transition: all 0.3s ease-in;
    width: 100%;
}






/* blog section from here */
section.blog {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%,67% 90%, 0 100%); /* to give a triagular shape at bottom of first container*/
    padding-bottom: 15rem;
}
section.blog .section-heading {
    color: var(--pure);
}
section.blog .card-wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;
}
section.blog .card-wrapper .card {
    background: var(--light);
    border-radius: 1rem;
}
section.blog .card-wrapper .card:hover {
    background-color: var(--pure);
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}
section.blog .card-wrapper .card .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
section.blog .card-wrapper .card .card-content {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
section.blog .card-wrapper .card .card-content h1 {
    font-size: 1rem;
    font-weight: 600;
}
section.blog .card-wrapper .card .card-content a{
    color: var(--secondary);
    text-decoration: none;
}
section.blog .card-wrapper .card .card-content span {
    color: var(--ternary);
    font-size: 0.8rem;
}
section.blog .card-wrapper .card .card-content p {
    font-family: 'Lato',sans-serif;
    color: var(--ternary);
    margin-top: 1rem;
    margin-bottom: 1rem;
}
section.blog .card-wrapper .card .card-content a:hover {
    color: var(--primary);
    transition: all 0.3s ease-in;
}

section.blog .card-wrapper .card .card-content a.read-more {
    font-size: 0.8rem;
}






/* contact us section */
section.contact .card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
section.contact .card-wrapper .card {
    text-align: center;
}
section.contact .card-wrapper .card img {
    margin-bottom: 1rem;
    height: 50%;
    font-weight: 400;
}
section.contact .card-wrapper .card h1 {
    font-weight: 400;
}
section.contact .card-wrapper .card h6 {
    font-size: 1rem;
    color: var(--ternary);
    font-weight: 400;
    margin-bottom: 5rem;
}
section.contact .input-wrap {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
section.contact .input-wrap-2 {
    display: flex; 
    flex-direction: column;
}
section.contact input {
    padding: 0.5rem;
    font-size: 0.9rem;
    border: 1px solid var(--light);
}   
section.contact .input-wrap-2 input{
    margin-bottom: 2rem;
}
section.contact .input-wrap-2 textarea {
    padding: 0.5rem;
    border: 1px solid var(--light);
    font-size: 0.9rem;
    resize: vertical; /* To restrict movement of textarea vertically */
}
section.contact .input-wrap-2 textarea:focus, section.contact input:focus {
    outline: none;
}
section.contact .btn-wrapper {
    text-align: center;
    margin-top: 2rem;
}




/* footer section starts here */
footer {
    background: var(--dark);
    text-align: center;
    padding: 3rem 0;
    padding-bottom: 1rem;
}
footer .footer-logo {
    margin-bottom: 3rem;
    width: 150px;
}
footer .footer-socials a{
    margin-right: 1rem;
}
footer .footer-socials {
    margin-bottom: 2rem;
    margin-right: -1rem;
}
footer .copyright {
    color: var(--ternary);
}
.site-main-wrapper {
    position: relative;
}
.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 5rem;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
}

.open {
    transform: translateX(0);
}
.mobile-nav ul {
    list-style-type: none;
}
.mobile-nav ul li a {
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;  /*to center the links to the page */
}






/* responsive process for tablets */
@media (max-width: 1024px){
    .menu-btn {
        z-index: 1000;
    }
    header #main-nav {
        display: none;
    }
    .hero .left img {
        width: 260px;
    }
    .hero .right h1 {
        font-size: 3rem;
    }
    .hero {
        padding-top: 12rem;
    }
    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 27% 95%, 0 100%);
    }
    section.about .about-me-img {
        height: 360px;
    }
    section.services {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    section.freelancer {
        padding-bottom: 10rem;
    }
    section.services .card-wrapper{
        grid-template-columns: repeat(2,1fr);
    }
    section.work .card-wrapper {
        grid-template-columns: repeat(2,1fr);
    }
    section.reviews {
        padding: 3rem;
    }
    section.reviews .container p {
        margin-bottom: 4rem;
    }
    section.work {
        padding: 2rem 3rem;
    }
    section.work .container p {
        margin-bottom: 2rem;
    }
    section.blog .card-wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    section.blog {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 97%, 0 100%);
        padding: 3rem 3rem;
        padding-bottom: 8rem;
    }
    
    section.blog .container p {
        margin-bottom: 3rem;
    }
    section.contact .container p {
        margin-bottom: 4rem;
    }
    section.contact  {
        padding-bottom: 3rem;
    }
}

/* responsive process for mobile phones */
@media (max-width: 576px){
    .menu-btn {
        z-index: 1000;
    }
    .btn {
        margin-top: 2rem;
    }
    .hero {
        flex-direction: column;
    } 
    header {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 69% 95%, 0 100%);
    }
    .hero .right {
        position: absolute;
        top: 260px;
        padding: 0 1rem;
        background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.9)); /* applying gradient for text readability */
    } 
    .hero .left {
        margin-top: -9rem;
        margin-right: -9rem;
        padding-bottom: 5rem; /* to push the clipped path down for clear view of download cv button */
    }
    section.about {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    section.work {
        padding: 2rem 1rem;
    }
    section.work .container p {
        margin-bottom: 3rem;
    }
    .about-inner-wrap {
        flex-direction: column;
    }
    .about .right {
        text-align: center;
        margin-top: 2rem;
    }
    .about .right .social {
        justify-content: center; /* to center the icons */
    }
    section.services {
        padding: 2rem 1rem; /*top bottom - left right*/
    }
    section.services .container .services-para {
        margin-bottom: 6rem;
    }
    section.services .card-wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    section.freelancer h1 {
        line-height: 1.4;
    }
    section.freelancer {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 67% 90%, 0 100%);
        padding-bottom: 6rem;
        padding-top: 3rem;
    }
    section.reviews .slider .slide {
        padding: 0;
    }
    .section-heading + p {
        margin-bottom: 5rem;
    }
    section.work .card-wrapper, section.contact .card-wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    section.work .card-wrapper .card {
        justify-content: center;
    }
    section.blog  {
        padding: 2rem 1rem;
        padding-bottom: 6rem;
    }
    section.blog .container p {
        margin-bottom: 2rem;
    }
    section.contact {
        padding-top: 2rem;
    }
    section.contact .input-wrap {
        grid-template-columns: repeat(1,1fr);
    }
    section.contact .container p{
        margin-bottom: 2rem;
    }
    footer {
        padding: 3rem;
    }
    footer .footer-logo {
        margin-bottom: 2rem;
    }
    footer .footer-socials {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
}


 

/* for animation on the front page */
.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}
.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

 


/* animated contact us form  */
/* link : https://youtu.be/IxRJ8vplzAo */
/* .form {
    position: relative;
    height: 50px;
    background: #3DCFD3;
    width: 50%;
}

.form input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: #3DCFD3;
    padding-top: 100px;
} */


/* form {
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    box-shadow: 0 0 20px #00000010;
} */
