/* because flex box will used 
several times to created this 
css file and this was imported 
in style.css file */
.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.btn {
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600; /* for boldness of the font */
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.35s ease-in-out;
    border-radius: 2rem;
}
.btn-primary {
    background: var(--primary);
    color: var(--secondary);
}
.btn-primary:hover {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
    transition: all 0.35s ease-in-out;
}
.btn-secondary {
    background: transparent;
    border-color: var(--primary);
    color: var(--primary);
}
.btn-secondary:hover {
    background: var(--primary);
    color: var(--dark);
}
.flex-1 {
    flex: 1;
}
.justify-center {
    justify-content: center;
}
